@page
@model farmacia_mym.Pages.Usuarios.DetailsModel
@{
    ViewData["Title"] = "Detalles del Usuario";
    Layout = "/Pages/Shared/AdminLayout.cshtml";
}

<div class="usuario-container">
    <h1 class="titulo">@ViewData["Title"]</h1>

    <div class="usuario-detalle-card">
        <h4 class="subtitulo">Usuario</h4>
        <hr class="linea-separadora" />
        <dl class="fila-detalle">
            <dt class="campo"> @Html.DisplayNameFor(model => model.Usuario.Nombre) </dt>
            <dd class="valor"> @Html.DisplayFor(model => model.Usuario.Nombre) </dd>

            <dt class="campo"> @Html.DisplayNameFor(model => model.Usuario.Telefono) </dt>
            <dd class="valor"> @Html.DisplayFor(model => model.Usuario.Telefono) </dd>

            <dt class="campo"> @Html.DisplayNameFor(model => model.Usuario.Rol) </dt>
            <dd class="valor"> @Html.DisplayFor(model => model.Usuario.Rol) </dd>

            <dt class="campo"> @Html.DisplayNameFor(model => model.Usuario.User) </dt>
            <dd class="valor"> @Html.DisplayFor(model => model.Usuario.User) </dd>
        </dl>
    </div>

    <div class="botones-acciones">
        <a class="btn-verde" asp-page="Edit" asp-route-id="@Model.Usuario.Id">Editar</a>
        <a class="btn-secundario" asp-page="Index">Volver a la Lista</a>
    </div>
</div>
