@page
@model farmacia_mym.Pages.Usuarios.DetailsModel
@{
    ViewData["Title"] = "Detalles del Usuario";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Telefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Rol)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Rol)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.User)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Clave)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Clave)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="Edit" asp-route-id="@Model.Usuario.Id">Editar</a> |
    <a asp-page="Index">Volver a la Lista</a>
</div>
