@page
@model farmacia_mym.Pages.Usuarios.IndexModel

@{
    ViewData["Title"] = "Lista de Usuarios";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="./Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Teléfono
            </th>
            <th>
                Rol
            </th>
            <th>
                Nombre de Usuario
            </th>
            <th>
                Clave
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Usuarios)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Clave)
                </td>
                <td>
                    <a asp-page="./Editar" asp-route-id="@item.Id">Editar</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Detalles</a> |
                    <a asp-page="./Eliminar" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>